/* Misc ========================================================================== */
/** * Add the correct display in IE 10+. */
 template {
     display: none;
}
/** * Add the correct display in IE 10. */
 [hidden] {
     display: none;
}
 form {
     border-radius: 10px;
     padding: 20px;
     margin: 5% 25% 5% 25%;
     display: inline-block;
}
 footer{
     text-align: center;
     margin-bottom: 10%;
     font-weight: bold;
}
  
 label {
     display:block;
     font-size: 25px;
     font-weight: bold;
     color:black;
}

 input[type=text], select {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: block;
     border: 3px solid black;
     border-radius: 4px;
     box-sizing: border-box;
}
 input[type=submit] {
     width: 100%;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: 5px solid black;
     border-radius: 4px;
     cursor: pointer;
  
}

.buttonHolder{ 
 text-align: center; 
}

  
  * {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 5px;
    background: #f1f1f1;
}



/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    
}

.header h1 {
    font-size: 50px;
    clear: left;
    text-align: left;

}

.header h2 {
    font-size: 20px;
    clear: left;
    text-align: left;
    text-align: center;

}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: white;
}

/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.card_index{
padding: 20px;
margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
.image {
  float: right;
}

header{
  background-image: url("../images/Background_abUs.jpg");
}
.card_index_b {
  background-image:url("../images/blur.jpg");
  padding:800px 0px 800px 0px;
  background-repeat: no-repeat;
  background-size: auto;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
